
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<table  class="table table-hover table-danger">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Majour</th>
            <th>Status</th>
        </tr>
    </thead>
    @foreach (var std in Model)
    {
        <tbody>

            <tr>
                <th>@std.ID</th>
                <th>@std.Name</th>
                <th>@std.Major</th>
                <th>@std.Faculity</th>
            </tr>

        </tbody>
     }
</table>

